:root {
  --gray-25: #fcfcfc; /* Snow White */
  --gray-50: #fafafa; /* Ice White */
  --gray-100: #f4f4f5; /* Soft Gray */
  --gray-200: #e4e4e7; /* Light Gray */
  --gray-300: #d1d1d6; /* Pale Gray */
  --gray-400: #a0a0ab; /* Cool Gray */
  --gray-500: #70707b; /* Medium Gray */
  --gray-600: #51525c; /* Deep Gray */
  --gray-700: #3f3f46; /* Charcoal Gray */
  --gray-800: #26272b; /* Dark Charcoal */
  --gray-900: #18181b; /* Jet Black */
}

@import url("./Satoshi_Complete/Satoshi_Complete/Fonts/WEB/css/satoshi.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  margin-bottom: 80px;
}
.hero-image {
  position: relative;
}
.hero-image img {
  width: 100%;
  height: 100vh;
}

.nab-continer {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 83px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.nav-style {
  display: flex;
  justify-content: center;
  color: #fcfcfc;
  list-style: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 400;
  size: 14px;
  line-height: 21.7px;
}
.logo {
  aspect-ratio: 3.37/1;
}
.nav-style a {
  padding: 4px 12px;
  width: 400;
  size: 14px;
  line-height: 21.7px;
  color: #fcfcfc;
}
.Contact {
  padding: 10px 18px;
  background-color: #fcfcfc;
  border-radius: 12px;
}
.Contact p {
  color: #18181b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.8px;
}

.headline {
  position: absolute;
  width: 990px;
  height: 228px;
  bottom: 64px;
  left: 74px;
}
.headline h1 {
  font-weight: 700;
  font-size: 104px;
  line-height: 114.4px;
  color: #ffffff;
  text-transform: lowercase;
}
.headline p {
  text-transform: lowercase;
}

.down-button {
  position: absolute;
  bottom: 12px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.Gallery {
  position: absolute;
  width: 212px;
  height: 432px;
  border-radius: 12px;
  border: 1px;
  background-color: #fcfcfc;
  bottom: 56px;
  right: 60px;
  align-items: center;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  padding: 8px;
  text-decoration: column;
}

.Gallery img {
  width: 196px;
  height: 140px;
  border-radius: 12px;
  padding-bottom: 12px;
  /* padding: 12px 8px; */
}

.part-1 {
  padding: 0 80px;
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  margin-bottom: 56px;
}

.main-part-1 {
  width: 493px;
  height: 263px;
  gap: 125px;
}
.main-part-1 h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 62.4px;
  letter-spacing: -2%;
  margin-bottom: 30px;
}
.learn-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 24.8px;
  color: #ffffff;
  padding: 10px 22.5px;
  border-radius: 12px;
  background-color: #18181b;
}

.paragraph-part-1 {
  width: 662px;
  height: 341px;
}

.paragraph-part-1 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
}

.part-2 {
  padding: 0 80px 80px 80px;
  height: 626px;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
/* start main-part-img */
.main-part-img1 {
  width: 316px;
  gap: 24px;
}
.main-part-img1 img {
  width: 316px;
  height: 290px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.main-part-img1 h6 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 8px;
  color: #18181b;
}
.main-part-img1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.8px;
  color: #70707b;
}
/* End main-part-img */
/* start main-part-img2 */
.main-part-img2 {
  width: 402px;
  gap: 24px;
  align-self: flex-end;
}
.main-part-img2 img {
  width: 402px;
  height: 340px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.main-part-img2 h6 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 8px;
  color: #18181b;
}

.main-part-img2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.8px;
  color: #70707b;
}
/* End main-part-img2 */
/* start main-part-img3 */
.main-part-img3 {
  width: 498px;
  gap: 24px;
}
.main-part-img3 img {
  width: 498px;
  height: 400px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.main-part-img3 h6 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 8px;
  color: #18181b;
}

.main-part-img3 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.8px;
  color: #70707b;
}
/* End main-part-img3 */

/* start part-3 */
.part-3 {
  width: 100%;
  height: 1859px;
  border: 2px solid black;
}
.part-3-details {
  display: flex;
  justify-content: space-between;
  padding: 80px 80px 56px;
  border: 2px solid red;
}
.part-3-details h3 {
  width: 459px;
  font-weight: 400;
  white-space: nowrap;
  font-size: 52px;
  line-height: 62.4px;
  letter-spacing: -2%;
}
.part-3-details p {
  width: 573px;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
}
/* start property-listings part-2 */
.property-listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: auto;
  height: auto;
  padding: 56px 80px;
  margin-bottom: 16px;
}

.property-img {
  position: relative;
  margin-bottom: 16px;
}
.Listings-1 {
  width: 411px;
  height: 467px;
}
.Listings-2 {
  width: 411px;
  height: 467px;
}
.Listings-3 {
  width: 411px;
  height: 467px;
}
.Listings-4 {
  width: 411px;
  height: 467px;
}
.Listings-5 {
  width: 411px;
  height: 467px;
}
.Listings-6 {
  width: 411px;
  height: 467px;
}
.Listings-7 {
  width: 411px;
  height: 467px;
}
.Listings-8 {
  width: 411px;
  height: 467px;
}
.Listings-9 {
  width: 411px;
  height: 467px;
}

.botton-house {
  position: absolute;
  top: 16px;
  right: 108px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  background-color: #18181b;
  color: #fcfcfc;
  border-radius: 22px;
}
.botton-forsale {
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1%;
  white-space: nowrap;
  width: 84px;
  height: 36px;
  align-items: center;
  padding: 8px 12px;
  background-color: #18181b;
  color: #fcfcfc;
  border-radius: 22px;
}
.secound-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #18181b;
  margin-bottom: 16px;
}
.per-month p {
  font-weight: 400;
  font-size: 14;
  line-height: 21px;
  color: #70707b;
}
.secound-box h2 {
  margin-bottom: 4px;
}
.location {
  display: flex;
  gap: 8px;
  color: #70707b;
}
.third-box {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 14.8px;
  margin-top: 16px;
  color: #70707b;
}
.bathroom {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bedroom {
  display: flex;
  align-items: center;
  gap: 8px;
}
.area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.view-botton {
  background-color: #26272b;
}
.view-botton p {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.8px;
  padding: 10px 25.5px;
}
