:root {
  --gray-25: #fcfcfc; /* Snow White */
  --gray-50: #fafafa; /* Ice White */
  --gray-100: #f4f4f5; /* Soft Gray */
  --gray-200: #e4e4e7; /* Light Gray */
  --gray-300: #d1d1d6; /* Pale Gray */
  --gray-400: #a0a0ab; /* Cool Gray */
  --gray-500: #70707b; /* Medium Gray */
  --gray-600: #51525c; /* Deep Gray */
  --gray-700: #3f3f46; /* Charcoal Gray */
  --gray-800: #26272b; /* Dark Charcoal */
  --gray-900: #18181b; /* Jet Black */
}

@import url("./Satoshi_Complete/Satoshi_Complete/Fonts/WEB/css/satoshi.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}
.hero-image {
  position: relative;
}
.hero-image img {
  width: 100%;
  height: 1024px;
}

.nab-continer {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 83px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.nav-style {
  display: flex;
  justify-content: center;
  color: #fcfcfc;
  list-style: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 400;
  size: 14px;
  line-height: 21.7px;
}
.logo {
  aspect-ratio: 3.37/1;
}
.nav-style a {
  padding: 4px 12px;
  width: 400;
  size: 14px;
  line-height: 21.7px;
  color: #fcfcfc;
}
.Contact {
  padding: 10px 18px;
  background-color: #fcfcfc;
  border-radius: 12px;
}
.Contact p {
  color: #18181b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24.8px;
}

.headline {
  position: absolute;
  width: 990px;
  height: 228px;
  bottom: 64px;
  left: 74px;
}
.headline h1 {
  font-weight: 700;
  font-size: 104px;
  line-height: 114.4px;
  color: #ffffff;
  text-transform: lowercase;
}
.headline p {
  text-transform: lowercase;
}

.down-button {
  position: absolute;
  bottom: 12px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.Gallery {
  position: absolute;
  width: 212px;
  height: 460px;
  border-radius: 12px;
  border: 1px;
  background-color: #fcfcfc;
  bottom: 56px;
  right: 60px;
  align-items: center;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  padding: 8px;
}

.Gallery img {
  width: 196px;
  height: 140px;
  border-radius: 12px;
  padding-bottom: 12px;
  /* padding: 12px 8px; */
}
